version: "3.8"

services:
  backend:
    build: ./backend
    container_name: flask-backend
    ports:
      - "5000:5000"
    networks:
      - tasknet

  frontend:
    build: ./frontend
    container_name: angular-frontend
    ports:
      - "4200:4200"
    depends_on:
      - backend
    networks:
      - tasknet

networks:
  tasknet:
    driver: bridge
