name: Build Flask Docker App

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        run: |
          docker build -t flask-app:latest .

      - name: Run container for testing
        run: |
          docker run -d -p 5000:5000 --name flask_container flask-app:latest
          sleep 5
          docker ps -a
